* {
    will-change: transition;
    transition: all 1.3s ease-in-out;
}

html,
body {
    min-width: 100% !important;
    width: 100% !important;
    min-height: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    font-family: sans-serif !important;
    text-rendering: optimizeSpeed !important;
    box-sizing: border-box !important;
    scrollbar-width: thin !important;
    line-height: 1.25 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    border-style: hidden;
} 

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

dialog::backdrop {
    background-color: blue;
}

table {
    border-collapse: collapsed;
    border-spacing: 0;
}

textarea:focus {
    outline: none;
    resize: none !important;
    caret-color: var(--color-blue-100);
}

