:root {
    color-scheme: light dark;

    --size-inf: 100%;
    --size-xxl: 5.563rem;
    --size-xl: 3.438rem;
    --size-l: 2.125rem;
    --size-m: 0.313rem;
    --size-n: 0.813rem ;
    --size-s: 0.5rem;
    --size-xs: 0.313rem;
    --size-xxs: 0.188rem; 

    --color-white-pure: #ffffff; /* white */
    --color-white: #eaf0d8; /* white */
    --color-black: #413a42; /* black */
    --color-black-pure: #000000; /* black */

    --color-red-100: #cb2f2c;
    --color-red-75: #d55956;
    --color-red-50: #e08280;
    --color-green-100: #19947a;
    --color-green-75: #2bbf70;
    --color-green-50: #73e785;
    --color-blue-100: #1b96ba;
    --color-blue-75: #49abc8;
    --color-blue-50: #76c0d6;
    --color-yellow-100: #f1be43;
    --color-yellow-75: #f4cb69;
    --color-yellow-50: #f7d88e;

    --speed-xxl: 1.313s;
    --speed-xl: 0.813s;
    --speed-l: 0.500s; 
    --speed-m: 0.313s; 
    --speed-n: 0.188s; 
    --speed-s: 0.125s; 
    --speed-xs: 0.063s; 
}

@keyframes popup-animation {
    from {
        opacity: 0;
        transform: scaleY(0.8);
    }

    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes fade-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideTop-animation {}
@keyframes slideBottom-animation {}
@keyframes slideLeft-animation {}
@keyframes slideRight-animation {}

[data-uitb='UserInterface'] {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: var(--size-inf);
    min-width: 23.438rem;
    height: var(--size-inf);
    min-height: var(--size-inf);
    padding: 0%;
    margin: 0%;
    border: none;
    transition: all var(--speed-n) ease-in-out;
    z-index: 0;
}

[data-uitb='Frame'] {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: auto;
    min-width: 50px;
    height: auto;
    min-height: 50px;
    padding: var(--size-n);
    margin: 0%;
    border: 1.5px solid;
    border-radius: var(--size-xs);
    transition: all var(--speed-n) ease-in-out;
    z-index: 1;
    filter: drop-shadow(2px 2px 2px #000000);
    animation: popup-animation var(--speed-xs) linear;
}

[data-uitb='GFrame'] {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 150px;
    height: 50px;
    padding: var(--size-n);
    margin: 0%;
    border: 1.5px solid;
    border-radius: var(--size-xs);
    transition: all var(--speed-n) ease-in-out;
    z-index: 1;
    filter: drop-shadow(2px 2px 2px #000000);
    animation: popup-animation var(--speed-xs) linear; 
}

[data-uitb='XFrame'] {
    position: relative;
    display: flex;
    flex-direction: row;
    width: var(--size-inf);
    min-width: 50px;
    height: auto;
    min-height: 50px;
    padding: 0%;
    margin: 0%;
    align-items: center;
    border: 0%;
    border-radius: none;
    transition: all var(--speed-n) ease-in-out;
    z-index: 1;
}

[data-uitb='YFrame'] {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 50px;
    height: var(--size-inf);
    min-height: 50px;
    padding: 0%;
    margin: 0%;
    border: 0%;
    border-radius: var(--size-xs);
    transition: all var(--speed-n) ease-in-out;
    z-index: 1;
}

[data-uitb='Button'] {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: fit-content;
    min-width: 25px;
    height: auto;
    min-height: 15px;
    padding: var(--size-s);
    margin:  var(--size-xxs) var(--size-xs);
    border: 1.5px solid;
    border-radius: var(--size-xs);
    pointer-events: auto;
    cursor: pointer;    
    transition: all var(--speed-n) ease-in-out;
    z-index: 1;
}

[data-uitb='Button']:hover {
    transform: translateY(-1.5px);
    filter: hue-rotate(-5deg);
}

[data-uitb='Button']:active {
    transform: translateY(1.5px);
    filter: hue-rotate(25deg);
}

[data-uitb='SFrame'] {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: inherit;
    padding: 0%;
    margin: 0%;
    border: none;
    border-radius: 0%;
    pointer-events: auto;
    cursor: auto;    
    transition: all var(--speed-n) ease-in-out;
    overflow-y: scroll;
    z-index: 1;
}

[data-uitb='Spacer'] {
    display: flex;
    flex: 1;
}

[data-uitb='Divider'] {
    display: block;
    border-top: solid 1.5px;
}

[data-uitb='Widget'] {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    padding: 0%;
    margin: 0%;
    border: none;
    border-radius: 0%;
    pointer-events: auto;
    cursor: auto;    
    transition: all var(--speed-n) ease-in-out;
    z-index: 1;
}

[data-uitb=''] {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    padding: 0%;
    margin: 0%;
    border: none;
    border-radius: 0%;
    pointer-events: auto;
    cursor: auto;    
    transition: all var(--speed-n) ease-in-out;
    z-index: 1;
}


@media (prefers-color-scheme: light) {
    [data-uitb='UserInterface'] {
        background-color: var(--color-white);
        color: var(--color-black);
    }

    [data-uitb='Frame'] {
        background-color: var(--color-white);
        color: var(--color-black);
    }
    
    [data-uitb='GFrame'] {
        background-color: var(--color-white);
        color: var(--color-black);
    
    }
    [data-uttb='Button'] {
        background-color: var(--color-white);
        color: var(--color-black);
    }

    [data-uitb='Divider'] {
        position: relative;
        display: block;
        width: inherit;
        border-color: var(--color-black);
        border-radius: var(--size-n);
    }
}

@media (prefers-color-scheme: dark) {
    [data-uitb='UserInterface'] {
        background-color: var(--color-black);
        color: var(--color-white);
    }
    
    [data-uitb='Frame'] {
        background-color: var(--color-black);
        color: var(--color-white);
    }
    
    [data-uitb='GFrame'] {
        background-color: var(--color-black);
        color: var(--color-white);
    }

    [data-uttb='Button'] {
        background-color: var(--color-black);
        color: var(--color-black);
    }

    [data-uitb='Divider'] {
        border-color: var(--color-white);
    }
}